<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {
        title : "Cart"
    }) %> 
<body class="carrito">
    <%- include('./partials/header') %> 
    <main>
        <h1>Cart</h1>
    </main>
</body>
</html>