main {
    margin: 0 auto;
    padding-right: 0;
}

.index__products {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
    width: 100%;
    

}

.index__products__product {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.index__products__product img{
    width: 100%;

}

.index__products__product h4{
    margin: 10px 0;
}

.index__products__product__more  {
    display: inline-block;
    background-color: var(--colorAnaranjado);
    color: white;
    padding: 5px;
    width: 100px;
    text-align: center;
}


.index__tutorials{
    margin-top: 30px;
}

.index__tutorials h3, .index__advertising h3 {
    padding: 10px;
    background-color: white;
    border: 1px solid var(--colorBorde);
    margin-bottom: 10px;
}

.index__tutorials__tutorial{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 1px solid var(--colorBorde);
    border-bottom: none;
}
.index__tutorials__tutorial:last-child {
    border-bottom: 1px solid var(--colorBorde);;
}

.index__tutorials__tutorial p {
    margin-left: 10px;
}

.index__advertising{
    margin-top: 30px;

}

.index__advertising__add{
    background-color: white;
    padding: 0 10px;
    border: 1px solid var(--colorBorde);
}

.index__advertising__add img {
    margin: 10px 0;
    width: 100%;
    
}

/* Mobile L */

@media (min-width : 425px) {

    

    .index__products {
        
        
        
        width: 90%;
        
    
    }
    
}

/* Tablet */


@media (min-width : 768px) {

    .index__products {
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }

    .index aside {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .index__tutorials,
    .index__advertising{
        width: 40%;
    }
}


@media (min-width : 1140px) {
    .index {
        max-width: 1240px;
        margin: 0 auto;
        


    }

    .index main {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

    }

    .index__products {
        width: 768px;
        margin-left: 0;
        margin-right: 0;
    }

    .index__products__product {
        width: 380px;
    }
        
    .index aside {

        justify-content: flex-start;
        margin-left: 0;
        width: 50%;
        flex-direction: column;
    }
    }


